body {
    padding: 20px;
    text-align: center;
    background-color: rgb(233, 172, 114);
    background-image: url("https://wallpaperaccess.com/full/2797527.jpg");
}

.itemEntry {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 200;
    border-bottom: solid;
}

.itemEntryP {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    padding: 10px;
}

.quantity {
    padding: 10px;
}

.buttons {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.updateItem {
    padding: 5px;
}

.deleteItem {
    padding: 5px;
}