body {
    padding: 20px;
    text-align: center;
    background-color: rgb(233, 172, 114);
    background-image: url("https://wallpaperaccess.com/full/2797527.jpg");
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

/* .titleInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.title {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.inputForm {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.itemList {
    background-color: rgb(252, 252, 157);
    background-image: url("https://cdn.wallpapersafari.com/55/46/WdVkNU.jpg");
    background-size: cover;
    font-family: 'Gochi Hand', cursive;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.itemEntry {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 200;
    border-bottom: solid;
}

.itemEntryP {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    padding: 10px;
}

.quantity {
    padding: 10px;
}

/* button {
    background-color: transparent;
    color: rgb(230, 6, 25);
    border-style: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
} */

.buttons {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.updateItem button {
    padding: 5px;
    background-color: transparent;
    color: rgb(230, 6, 25);
    border-style: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}

.deleteItem button {
    padding: 5px;
    background-color: transparent;
    color: rgb(230, 6, 25);
    border-style: none;
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}